/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ***END RESET*** */

* {
  box-sizing: border-box;
  font-family: "Helvetica", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #5f5f5f;
}

ul {
  list-style: none;
}

.header {
  background-color: #2b2b2b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.fa-user-circle {
  font-size: 1.5rem;
  padding-right: 0.25rem;
  color: #c2c2c2;
}

.drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down select {
  background-color: transparent;
  color: #299ddb;
  border: none;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

.header-company-name {
  padding: 1rem;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header-link {
  color: #8a8a8a;
  padding: 0 1rem 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
}

.link-icon {
  padding: 0.75rem 0.75rem 0;
  color: #299ddb;
}

.fa-share-alt {
  color: #c2c2c2;
}

.header-link.active {
  color: #c2c2c2;
}

.page {
  padding: 1.5rem;
}

.landing-page {
  background-color: #efefef;
}

.page-heading {
  font-size: 2rem;
  margin: 0.75rem 0 2.25rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 3px #a5a5a5;
  color: #868686;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  max-width: 100%;
}

.card-photo-area {
  max-height: 200px;
  position: relative;
}

.card-photo-area-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.reply-button {
  display: block;
  border-radius: 50%;
  transform: scaleX(-1);
  height: 4rem;
  width: 4rem;
  border: none;
}

.fa-reply {
  font-size: 1.75rem;
  color: #4d4d4d;
}

.card-views-section {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.card-views-number {
  font-size: 2.75rem;
}

.card-content-area {
  padding: 1rem;
}

.card-date {
  font-size: 0.85rem;
  color: #cdcdcd;
  margin-bottom: 1rem;
}

.card-link-area {
  background-color: #efefef;
  padding: 0.5rem;
  padding-bottom: 1rem;
  overflow-wrap: break-word;
}

.card-secondary-text {
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.card-text {
  min-height: 3rem;
  font-size: 1.5rem;
}

.card-number {
  font-size: 2.75rem;
  color: #3dbcfc;
  margin-bottom: 0.5rem;
}

/* utility classes */
.uppercase {
  text-transform: uppercase;
}

/* Media-queries */
@media screen and (max-width: 960px) {
  .grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 790px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .header-navigation {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 525px) {
  .grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }

  .header-links {
    flex-direction: column;
  }
}
