* {
  border: 1px solid red;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #5f5f5f;
}

ul {
  list-style: none;
}

.header {
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
}

.header-login {
  display: flex;
  justify-content: flex-end;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
}

.header-link {
  color: #8a8a8a;
}

.header-link.active {
  color: #c2c2c2;
}

.landing-page {
  background-color: #efefef;
}

.card {
  background-color: #ffffff;
  box-shadow: 5px 10px;
  width: 200px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100px;
}

.card-photo-area {
  max-height: 100px;
  position: relative;
}

.card-photo-area-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.card-views {
  color: #ffffff;
}
